.vs/DBFinalProject/CopilotIndices/
.vs/DBFinalProject/FileContentIndex/
.vs/DBFinalProject/v17/DocumentLayout.json
.vs/DBFinalProject/v17/.suo


.vs/DBFinalProject/v17/DocumentLayout.backup.json


.vs/DBFinalProject/v17/DocumentLayout.backup.json
DBFinalProject/bin/Debug/DBFinalProject.exe
DBFinalProject/bin/Debug/DBFinalProject.pdb
DBFinalProject/obj/Debug/DBFinalProject.csproj.AssemblyReference.cache
DBFinalProject/obj/Debug/DBFinalProject.csproj.CoreCompileInputs.cache
DBFinalProject/obj/Debug/DBFinalProject.csproj.FileListAbsolute.txt
DBFinalProject/obj/Debug/DBFinalProject.csproj.GenerateResource.cache
DBFinalProject/obj/Debug/DBFinalProject.exe
DBFinalProject/obj/Debug/DBFinalProject.pdb
DBFinalProject/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DBFinalProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache